*{
    margin: 0;
    padding: 0;
    font-family: 'Oxygen', sans-serif;
}
.header{
    width: 100%;
    min-height: 550px;
    background-image: linear-gradient(rgba(40, 55, 71  ,1),rgba(244, 208, 63,0.2)),url(moviebg.jpg);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;

}
.navlinks{
    flex:1;
    text-align: right;
}
.navlinks ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
}
.navlinks ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}
.navlinks ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin:auto;
    transition: 0.5s;

}
.navlinks ul li:hover::after{
    width: 100%;
}   
.text-box{
    width: 90%;
    color:#fff !important;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}  
.text-box h1{
    font-size: 62px;
} 
.text-box p{
    color: #fff;
    font-size: 16px;
    margin: 10px 0 25px 0;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid;
    padding: 16px 34px;
    background:transparent;
    position: relative;
    font-size: 16px;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
nav .fas{
    display: none;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 32px;
        color:red;
    }
    .navlinks ul li{
        display: block;
    }
    .navlinks ul{
        padding: 30px;
    }
    .navlinks{
        width: 200px;
        height: 500px;
        background-color: #f44446;
        position: absolute;
        z-index: 2;
        top: 0;
        right: -200px;
        text-align: left;
        color:#fff;
        transition: 1s;
    }
    nav .fas{
        display: block;
        font-size: 21px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    }

}
/*----courses-------*/
.courses{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.courses h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size:14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #fff3f3;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0 ;
}
.course-col:hover{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}